<div id="testheader">
    <div class="container">
        <div class=row>        
            <div class="col-md-5 ">
        <a href="/welcome-menu"><h3>Student Registration</h3></a>
    </div>  
    <div class="col-md-6">
        UserId:&nbsp;{{LoginId}}&nbsp;|&nbsp;UserName : {{LoginUser}} 
        <br>
        Date : <span>{{ today | date:'medium'}}</span>
    </div>  
    <div class="col-md-1" >
        <input type="button" class="btn-basic" id="lgnout-button" (click)="LoginOutUser()" value="Log Out" >
    </div>        
</div>
</div>

</div>
<div class="container">
<div class="sidenav">
    
    <button class="dropdown-btn" (click)="dropdownLink()"> Class Management <i class="fa fa-caret-down"></i></button>
    
    <div class="dropdown-container  ">
      <a routerLink="/courseList">Course Registration </a>
      <a routerLink="/createStu">Student Registration </a>
      <a routerLink="/stuList">Student Search </a>
    </div>
    <a routerLink="/userList">Users Management</a>
  </div>

  

<div class="main_contents">
    <div id="sub_content">
        
    <p  style="color: red;"	></p>
    
     <form #couForm="ngForm" (submit)="onSubmit(couForm)">
    

        <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Course Registration
            <br>
        <small *ngIf="couError" class="text-danger">{{couError}}</small>
        </h2>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="id" class="col-md-2 col-form-label"> ID</label>
            <div class="col-md-4">
            
			<input type="text" placeholder="Enter Course ID" name="cid" #cid="ngModel"  class="form-control" ngModel="{{couId}}" ngModel readonly>
           
                
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="name" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="couName" name="name" [(ngModel)]="couName" #name="ngModel" ngModel required > 
            </div>
        </div>
      
       
        <div class="row mb-4">
            <div class="col-md-4"></div>

            <div class="col-md-6">
               

                <button type="submit" class="btn btn-secondary col-md-2" data-bs-toggle="modal" data-bs-target="" [disabled]="couForm.invalid">ADD</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Course Registration</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 style="color: rgb(127, 209, 131);">Registered Succesfully !</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success col-md-2" data-bs-dismiss="modal">Ok</button>
                               
                            </div>
                        </div>
                    </div>
            </div>

        </div>

    </div>
     </form>
</div>
</div>

<div id="testfooter">
    <span>Copyright &#169; ACE Inspiration 2022</span>
</div>
