 <div id="testheader">
        <div class="container">
            <div class=row>        
                <div class="col-md-5 ">
            <a href="/welcome-menu"><h3>Student Registration</h3></a>
        </div>  
        <div class="col-md-6">
          UserId:&nbsp;{{LoginId}}&nbsp;|&nbsp;UserName : {{LoginUser}} 
            <br>
            Date : <span>{{ today | date:'medium'}}</span>
        </div>  
        <div class="col-md-1" >
            <input type="button" class="btn-basic" id="lgnout-button" (click)="LoginOutUser()" value="Log Out" >
        </div>        
    </div>
</div>

</div>
    <div class="container">
    <div class="sidenav">
        
        <button class="dropdown-btn" (click)="dropdownLink()"> Class Management <i class="fa fa-caret-down"></i></button>
        
        <div class="dropdown-container  ">
          <a routerLink="/courseList">Course Registration </a>
          <a routerLink="/createStu">Student Registration </a>
          <a routerLink="/stuList">Student Search </a>
        </div>
        <a routerLink="/userList">Users Management</a>
      </div>

      
      <div class="main-contents">
        <div id="contents">
          <h3>Welcome Back...! <br><br>
          Enjoy this project and try your best in your own!</h3>
        </div>
  
      </div>
  
      
    </div>
    
    <div id="testfooter">
        <span>Copyright &#169; ACE Inspiration 2022</span>
    </div>



